/* NOMBRE - NAME */
h1 {
    color: blue;
}
/* CLASE - CLASS */
.titulo {
    color: crimson;
}

/* IDENTIFICADOR - ID */
.fondo-de-bikini {
    background-color: aquamarine;
}

#titulo-footer {
    font-family: Arial, Helvetica, sans-serif;
}

* {

}

html {

}

body {

}