/* con "*" podemos cambiar las propiedades globales del css, osea, aplica para toda la página */
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

#header {
    /*height: 5vh;  esto no se pudo-> 10%; */
    /* Flex */
    display: flex;
    width: 70%;
    background-color: blue;
    margin: 2vh;
}

#main {
    
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.card-image img {
    width: 236px;
}

.card-image{
    position: relative;
    display: flex;
}

.botonesPosition{
    position: absolute;

    display: flex;
    flex-direction: column;
    height: 97%;
    justify-content: space-between;
}

.botonesTransform{
    transform: translate(-150%, 0%);

    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.botones-abajo{
    display:flex;
}

article {
    /* podemos quitar el display 
    display: inline-block; */
    
    background-color: pink;
}

.botton {
    margin: 5rem;
    padding: 10px;
    background-color: aqua;
    border-radius: 25px;
}

.botton:hover {
    background-color: black;
}

.botton:visited {
    background-color: black;
}

