.divAltura{
    height: 50px;
}


@media screen and (max-width: 2000px){
    .divAncho{
        width: 45%
    }
    .divInline{
        display: inline-block;
    }
    .margenDiv{
        border: 5px blue solid;
    }
}

@media screen and (max-width: 512px){
    .divAncho{
        width: 100%
    }
    .divInline{
        display: block;
    }
    .margenDiv{
        border: 5px red solid;
    }
}
